asn1crypto==0.24.0
beautifulsoup4==4.6.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.3
EasyProcess==0.2.3
httmock==1.2.6
http-request-randomizer==1.2.3
idna==2.7
mysql-connector-python==8.0.12
Pillow==6.2.0
protobuf==3.6.1
psutil==5.6.6
pycparser==2.18
pyOpenSSL==18.0.0
python-dateutil==2.7.3
PyVirtualDisplay==0.2.1
requests==2.20.0
selenium==3.14.0
six==1.11.0
urllib3==1.24.2
xvfbwrapper==0.2.9